h2 {
	background-color: grey;
	width: 1000px;
	height: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 25px 25px 0px 0px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: -10px;
	margin-top: 30px;
}

.ref {
	color: #00f056;
	background-color: grey;
	border-radius: 4px;
	padding: 1px;
	padding-bottom: 4px;
}

[href] {
	color: lightblue;
	size: 20px;
}

body {
	margin: 0;
    width: 100vw;
    height: 100vh;
}

div {
    width: 100vw;
    height: 100vh;
}

button {
	font-size: 20px;
	max-height: 50px;
	width: 200px;
	text-align: center;
	margin-left: 70px;
	margin-right: 70px;
	margin-top: 21px;
	color: #e9e9e9;
	background-color: #222222;
	border-style: inset;
	border-color: #e9e9e9 grey grey #e9e9e9;
}

button:hover {
	color: #222222;
	background-color: #e9e9e9;
}

a.button {
	padding-left: 20px;
}

#mdn {
	display: inline-block;
}

#Table_of_Contents {
	border: 5px solid #e3e3e3;
	width: 400px;
	max-height: 600px;
	background-color: #595959;
	border-radius: 25px;
	margin-top: 30px;
	margin-left: 100px;
	margin-bottom: 28px;
	padding-bottom: 15px;
	box-shadow: 2px 2px 5px grey;
	line-height: 25px;
}

#explanation {
	border: 5px solid #e3e3e3;
	width: 630px;
	max-height: 560px;
	background-color: #595959;
	border-radius: 25px;
	margin-left: 100px;
	margin-top: 30px;
	padding: 10px;
	box-shadow: 2px 2px 5px grey;
	line-height: 40px;
}

#forms {
	border: 5px solid #e3e3e3;
	width: 1000px; 
	max-height: 550px;
	background-color: #595959;
	border-radius: 25px;
	margin: 0 auto;
	box-shadow: 2px 2px 5px grey;
	line-height: 25px;
}

#formValidation {
	border: 5px solid #e3e3e3;
	width: 1000px;
	max-height: 480px;
	background-color: #595959;
	border-radius: 25px;
	margin: 0 auto;
	box-shadow: 2px 2px 5px grey;
	line-height: 25px;
}

#tables {
	border: 5px solid #e3e3e3;
	width: 1000px;
	max-height: 440px;
	background-color: #595959;
	border-radius: 25px;
	margin: 0 auto;
	box-shadow: 2px 2px 5px grey;
	line-height: 25px;
}

#htmlTags {
	border: 5px solid #e3e3e3;
	width: 1000px;
	max-height: 440px;
	background-color: #595959;
	border-radius: 25px;
	margin: 0 auto;
	box-shadow: 2px 2px 5px grey;
	line-height: 25px;
}

#semantic {
	border: 5px solid #e3e3e3;
	width: 1000px; 
	max-height: 420px;
	background-color: #595959;
	border-radius: 25px;
	margin: 0 auto;
	box-shadow: 2px 2px 5px grey;
	line-height: 25px;
}

#ruleSetTerms {
	border: 5px solid #e3e3e3;
	width: 1000px;
	max-height: 420px;
	background-color: #595959;
	border-radius: 25px;
	margin: 0 auto;
	box-shadow: 2px 2px 5px grey;
	line-height: 25px;
}

#inlineStyleTerms {
	border: 5px solid #e3e3e3;
	width: 1000px;
	max-height: 420px;
	background-color: #595959;
	border-radius: 25px;
	margin: 0 auto;
	box-shadow: 2px 2px 5px grey;
	line-height: 25px;
}

#SetupAndSyntax {
	border: 5px solid #e3e3e3;
	width: 1000px;
	max-height: 425px;
	background-color: #595959;
	border-radius: 25px;
	margin: 0 auto;
	box-shadow: 2px 2px 5px grey;
	line-height: 25px;
}

#Selectors {
	border: 5px solid #e3e3e3;
	width: 1000px;
	max-height: 410px;
	background-color: #595959;
	border-radius: 25px;
	margin: 0 auto;
	box-shadow: 2px 2px 5px grey;
	line-height: 25px;
}

#introduction {
	border: 5px solid #e3e3e3;
	width: 1000px;
	max-height: 500px;
	background-color: #595959;
	border-radius: 25px;
	margin: 0 auto;
	box-shadow: 2px 2px 5px grey;
	line-height: 25px;
}

#visualRules {
	border: 5px solid #e3e3e3;
	width: 1000px;
	max-height: 195px;
	background-color: #595959;
	border-radius: 25px;
	margin: 0 auto;
	box-shadow: 2px 2px 5px grey;
	line-height: 25px;
}

#theBoxModel {
	border: 5px solid #e3e3e3;
	min-width: 1000px;
	max-width: 1000px;
	min-height: 120px;
	max-height: 500px;
	background-color: #595959;
	border-radius: 25px;
	margin: 0 auto;
	box-shadow: 2px 2px 5px grey;
	line-height: 25px;
}

#changingTheBoxModel {
	border: 5px solid #e3e3e3;
	min-width: 1000px;
	max-width: 1000px;
	min-height: 120px;
	max-height: 500px;
	background-color: #595959;
	border-radius: 25px;
	margin: 0 auto;
	box-shadow: 2px 2px 5px grey;
	line-height: 25px;
}

#VisualRules {
	border: 5px solid #e3e3e3;
	min-width: 1000px;
	max-width: 1000px;
	min-height: 120px;
	max-height: 500px;
	background-color: #595959;
	border-radius: 25px;
	margin: 0 auto;
	box-shadow: 2px 2px 5px grey;
	line-height: 25px;
}

#layout {
	border: 5px solid #e3e3e3;
	min-width: 1000px;
	max-width: 1000px;
	min-height: 120px;
	max-height: 500px;
	background-color: #595959;
	border-radius: 25px;
	margin: 0 auto;
	box-shadow: 2px 2px 5px grey;
	line-height: 25px;
}

#color {
	border: 5px solid #e3e3e3;
	min-width: 1000px;
	max-width: 1000px;
	min-height: 120px;
	max-height: 500px;
	background-color: #595959;
	border-radius: 25px;
	margin: 0 auto;
	box-shadow: 2px 2px 5px grey;
	line-height: 25px;
}

#typography {
	border: 5px solid #e3e3e3;
	min-width: 1000px;
	max-width: 1000px;
	min-height: 120px;
	max-height: 500px;
	background-color: #595959;
	border-radius: 25px;
	margin: 0 auto;
	box-shadow: 2px 2px 5px grey;
	line-height: 25px;
}

#variables {
	border: 5px solid #e3e3e3;
	min-width: 1000px;
	max-width: 1000px;
	min-height: 120px;
	max-height: 500px;
	background-color: #595959;
	border-radius: 25px;
	margin: 0 auto;
	box-shadow: 2px 2px 5px grey;
	line-height: 25px;
}

#conditionals {
	border: 5px solid #e3e3e3;
	min-width: 1000px;
	max-width: 1000px;
	min-height: 120px;
	max-height: 500px;
	background-color: #595959;
	border-radius: 25px;
	margin: 0 auto;
	box-shadow: 2px 2px 5px grey;
	line-height: 25px;
}

#functions {
	border: 5px solid #e3e3e3;
	min-width: 1000px;
	max-width: 1000px;
	min-height: 120px;
	max-height: 1500px;
	background-color: #595959;
	border-radius: 25px;
	margin: 0 auto;
	box-shadow: 2px 2px 5px grey;
	line-height: 25px;
}

#scope {
	border: 5px solid #e3e3e3;
	min-width: 1000px;
	max-width: 1000px;
	min-height: 120px;
	max-height: 500px;
	background-color: #595959;
	border-radius: 25px;
	margin: 0 auto;
	box-shadow: 2px 2px 5px grey;
	line-height: 25px;
}

#array {
	border: 5px solid #e3e3e3;
	min-width: 1000px;
	max-width: 1000px;
	min-height: 120px;
	max-height: 500px;
	background-color: #595959;
	border-radius: 25px;
	margin: 0 auto;
	box-shadow: 2px 2px 5px grey;
	line-height: 25px;
}

#loops {
	border: 5px solid #e3e3e3;
	min-width: 1000px;
	max-width: 1000px;
	min-height: 120px;
	max-height: 500px;
	background-color: #595959;
	border-radius: 25px;
	margin: 0 auto;
	box-shadow: 2px 2px 5px grey;
	line-height: 25px;
}

#HOFunction {
	border: 5px solid #e3e3e3;
	min-width: 1000px;
	max-width: 1000px;
	min-height: 120px;
	max-height: 500px;
	background-color: #595959;
	border-radius: 25px;
	margin: 0 auto;
	box-shadow: 2px 2px 5px grey;
	line-height: 25px;
}

#iterators {
	border: 5px solid #e3e3e3;
	min-width: 1000px;
	max-width: 1000px;
	min-height: 120px;
	max-height: 600px;
	background-color: #595959;
	border-radius: 25px;
	margin: 0 auto;
	box-shadow: 2px 2px 5px grey;
	line-height: 25px;
}

/*C++ start*/
	#helloWorld {
		border: 5px solid #e3e3e3;
		min-width: 1000px;
		max-width: 1000px;
		min-height: 120px;
		max-height: 500px;
		background-color: #595959;
		border-radius: 25px;
		margin: 0 auto;
		box-shadow: 2px 2px 5px grey;
		line-height: 25px;
	}

	#compileExecute {
		border: 5px solid #e3e3e3;
		min-width: 1000px;
		max-width: 1000px;
		min-height: 120px;
		max-height: 500px;
		background-color: #595959;
		border-radius: 25px;
		margin: 0 auto;
		box-shadow: 2px 2px 5px grey;
		line-height: 25px;
	}

	#variableCPP {
		border: 5px solid #e3e3e3;
		min-width: 1000px;
		max-width: 1000px;
		min-height: 120px;
		max-height: 500px;
		background-color: #595959;
		border-radius: 25px;
		margin: 0 auto;
		box-shadow: 2px 2px 5px grey;
		line-height: 25px;
	}

	#conditionalsNlogic {
		border: 5px solid #e3e3e3;
		min-width: 1000px;
		max-width: 1000px;
		min-height: 120px;
		max-height: 500px;
		background-color: #595959;
		border-radius: 25px;
		margin: 0 auto;
		box-shadow: 2px 2px 5px grey;
		line-height: 25px;
	}

	#logicalOperators {
		border: 5px solid #e3e3e3;
		min-width: 1000px;
		max-width: 1000px;
		min-height: 120px;
		max-height: 500px;
		background-color: #595959;
		border-radius: 25px;
		margin: 0 auto;
		box-shadow: 2px 2px 5px grey;
		line-height: 25px;
	}

	#loopsCPP {
		border: 5px solid #e3e3e3;
		min-width: 1000px;
		max-width: 1000px;
		min-height: 120px;
		max-height: 500px;
		background-color: #595959;
		border-radius: 25px;
		margin: 0 auto;
		box-shadow: 2px 2px 5px grey;
		line-height: 25px;
	}

	#errors {
		border: 5px solid #e3e3e3;
		min-width: 1000px;
		max-width: 1000px;
		min-height: 120px;
		max-height: 500px;
		background-color: #595959;
		border-radius: 25px;
		margin: 0 auto;
		box-shadow: 2px 2px 5px grey;
		line-height: 25px;
	}

	#vectors {
		border: 5px solid #e3e3e3;
		min-width: 1000px;
		max-width: 1000px;
		min-height: 120px;
		max-height: 500px;
		background-color: #595959;
		border-radius: 25px;
		margin: 0 auto;
		box-shadow: 2px 2px 5px grey;
		line-height: 25px;
	}

	#functionsCPP {
		border: 5px solid #e3e3e3;
		min-width: 1000px;
		max-width: 1000px;
		min-height: 120px;
		max-height: 500px;
		background-color: #595959;
		border-radius: 25px;
		margin: 0 auto;
		box-shadow: 2px 2px 5px grey;
		line-height: 25px;
	}

	#funcScopeFlex {
		border: 5px solid #e3e3e3;
		min-width: 1000px;
		max-width: 1000px;
		min-height: 120px;
		max-height: 500px;
		background-color: #595959;
		border-radius: 25px;
		margin: 0 auto;
		box-shadow: 2px 2px 5px grey;
		line-height: 25px;
	}

/*C# start*/
#CS {
	border: 5px solid #e3e3e3;
	min-width: 1000px;
	max-width: 1000px;
	min-height: 120px;
	max-height: 500px;
	background-color: #595959;
	border-radius: 25px;
	margin: 0 auto;
	box-shadow: 2px 2px 5px grey;
	line-height: 25px;
	}
	
#blah {
	border: 5px solid #e3e3e3;
	min-width: 1000px;
	max-width: 1000px;
	min-height: 120px;
	max-height: 500px;
	background-color: #595959;
	border-radius: 25px;
	margin: 0 auto;
	box-shadow: 2px 2px 5px grey;
	line-height: 25px;
	}
